/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

/* UTILITIES CARD */
.heart,
.discount,
.bearableness{
    padding: .1em .3em;
}

.heart{
    position: absolute;
}

.heart{
    background-color: #fff;
    font-size: 2rem;
    top: .5em;
    right: 0;
}

.heart:hover{
    color: red;
}

.tag{
    position: absolute;
    bottom: 1.5em;
    left: 0;
}

.discount{
    background-color: red;
    color: white;
}

.bearableness{
    color: white;
    background-color: green;
}


.discounted-price{
    color: red;
    font-weight: 800;
}

.price{
    text-decoration: line-through;
}


/* HEADER */
header{
    background-color: #FF6900;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

header .flex-container{
    color: white;
    padding: 1em 0;
}

.header-section,
.header-command{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section li{
    padding: .3em;
}

.header-command{
    justify-content: flex-end;
}

.header-command i{
    padding: .5em;
}

.header-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 40%;
}

/* MAIN */
main .flex-container{
    margin-top: 8em ;
    margin-bottom: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Card */
.card{
    width: calc(100% / 3 - 1em);
    margin: 1em 0;
}

/* Top Card */
.top-card{
    width: 100%;
    font-size: 1rem;
    position: relative;
}

.top-card .hover-img{
    display: none;
}

/* Hover img */
.top-card:hover .cover-img{
    display: none;
}

.top-card:hover .hover-img{
    display: block;
}


/* Bottom Card */
.bottom-card{
    width: 100%;
    margin-top: .5em;
}

/* FOOTER */
footer{
    background-color: black;
    border-bottom: 1px solid white;
}

footer .flex-container{
    justify-content: space-between;
    padding: 1em 0;
}

/* Footer Info */
.footer-info h3{
    color: white;
    margin-bottom: .5em;
}

.footer-info li{
    padding-right: .5em;
}

/* Footer Social */
.footer-social{
    color: white;
    text-align: center;
}

.footer-social h4{
    margin-bottom: .5em;
}

.footer-social i{
    padding: .3em;
}